.contenedorPrincipal .productos {
  padding: 20px;
  overflow: hidden;
  text-align: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 100%; }

.contenedorPrincipal {
  width: 100%;
  height: auto;
  background-color: black;
  height: 100vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "imagen imagen imagen imagen" "main main main main" "footer footer footer footer"; }
  .contenedorPrincipal .cabecera {
    grid-area: header;
    width: auto;
    display: grid;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 2; }
    .contenedorPrincipal .cabecera a img {
      height: 100%;
      width: 190px;
      padding-top: 0px; }
    .contenedorPrincipal .cabecera .menu {
      width: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      padding-left: 180px; }
      .contenedorPrincipal .cabecera .menu li {
        width: 100%;
        display: grid;
        top: 0;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        font-size: medium;
        color: white; }
      .contenedorPrincipal .cabecera .menu a {
        text-decoration: none; }
  .contenedorPrincipal main {
    grid-area: main; }
  .contenedorPrincipal .imagenPrincipal {
    grid-area: imagen;
    margin-top: -50px;
    padding-top: -60px;
    margin-bottom: 0;
    font-size: 2rem;
    text-align: center; }
  .contenedorPrincipal .ingresos {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 50px; }
  .contenedorPrincipal .productos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    margin-top: 6vh;
    text-align: center;
    color: white; }
    .contenedorPrincipal .productos div:hover {
      transform: scale(1.1, 1.1);
      transition: 0.3s; }
  .contenedorPrincipal footer {
    grid-area: footer;
    margin-top: 30px;
    text-align: center;
    color: white; }
  .contenedorPrincipal iframe {
    display: grid;
    grid-template-columns: 1, 1fr;
    justify-content: center; }
  .contenedorPrincipal .encontrarnos {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 50px; }
  .contenedorPrincipal form {
    text-align: center; }

@media only screen and (max-width: 600px) {
  .contenedorPrincipal {
    grid-template-columns: repeat(4, 1);
    grid-template-areas: "header header header header" "imagen imagen imagen imagen" "main main main main" "footer footer footer footer"; }
    .contenedorPrincipal .cabecera img {
      height: 100%; }
    .contenedorPrincipal .cabecera a {
      display: flex;
      justify-content: center;
      padding: 0; }
    .contenedorPrincipal .cabecera nav div ul {
      display: flex;
      justify-content: center; }
      .contenedorPrincipal .cabecera nav div ul li {
        font-size: 5px; }
    .contenedorPrincipal .cabecera nav .menu {
      padding-left: 0;
      display: flex;
      justify-content: center; }
      .contenedorPrincipal .cabecera nav .menu a {
        display: flex;
        justify-content: center;
        padding: 0; }
    .contenedorPrincipal .ingresos {
      padding-top: 0;
      font-size: 3rem;
      padding: 3rem; }
    .contenedorPrincipal .productos div:hover {
      transform: none; }
    .contenedorPrincipal .productos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center; }
    .contenedorPrincipal p {
      font-size: 2rem; } }
