@import "scss/variables";
@import "scss/mapas";
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: map-get($map: $colores-default, $key: color-fondo);
    font-family: 'Oswald', sans-serif;
    color: $color-text;
    width: 100%;
}
.contenedorPrincipal{
    @include size;
    background-color: $color-fondo;
    height: 100vh;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:"header header header header"
                        "imagen imagen imagen imagen"
                        "main main main main"
                        "footer footer footer footer";
                        .cabecera{
                            grid-area: header;
                            width: auto;
                            display: grid;
                            margin: 0;
                            padding: 0;
                            top:0;
                            z-index: 2;
                            a img{
                                height: 100%;
                                width: 190px;
                                padding-top: 0px;
                            }
                            .menu{
                                width: auto;
                                display: grid;
                                grid-template-columns:repeat(5, 1fr);
                                justify-items: center;
                                padding-left: 180px;                               
                                li{
                                    width: 100%;
                                    display: grid;
                                    top: 0;
                                    font-weight: bold;
                                    text-decoration: none;
                                    padding: 10px 20px 10px 20px;
                                    font-size: medium;
                                    color: $color-text;
                                }
                                a{
                                    text-decoration: none;
                                }
                            }
                        }

                        main{
                            grid-area: main;
                        }
                            .imagenPrincipal{
                                grid-area: imagen;
                                margin-top: -50px;
                                padding-top: -60px;                             
                                margin-bottom:0;
                                font-size: 2rem;
                                text-align: center;
                            }
                            .ingresos{
                                padding-top: 15px;
                                text-align: center;
                                color: $color-text;
                                font-size: 50px;
                            }
                            .productos{
                                @extend %overflow;
                                display: grid;
                                justify-content: center;
                                grid-template-columns: repeat(6, 1fr);
                                gap: 25px;
                                margin-top: 6vh;
                                text-align: center;
                                color: $color-text;
                                div{
                                   &:hover{
                                    transform: scale(1.1, 1.1);
                                    transition: 0.3s;
                                   } 
                                }
                            }
                
                        footer{
                            grid-area: footer;
                            margin-top: 30px;
                            text-align: center;
                            color: $color-text;
                        }
                        iframe{ 
                            display: grid;
                            grid-template-columns: 1, 1fr;
                            justify-content: center;
                        }
                        .encontrarnos{
                            padding: 30px;
                            text-align: center;
                            color: $color-text;
                            font-size: 50px;
                        }
                        form{
                            text-align: center;
                        }
                        
                    }
@media only screen and (max-width: 600px){
    .contenedorPrincipal{
        grid-template-columns: repeat(4,1);
        grid-template-areas: "header header header header"
                             "imagen imagen imagen imagen"
                             "main main main main"
                             "footer footer footer footer";
                             .cabecera{
                                img{
                                    height: 100%;
                                }
                                 a{
                                    display: flex;
                                    justify-content: center;
                                    padding: 0;
                                 }
                                 nav{
                                     div{
                                        ul{
                                            display: flex;
                                            justify-content: center;
                                            li{
                                                font-size: 5px;
                                            }
                                        }
                                     }
                                     .menu{
                                         padding-left: 0;
                                         display: flex;
                                         justify-content: center;
                                        a{
                                            display: flex;
                                            justify-content: center;
                                            padding: 0; 
                                        }
                                     }
                                }
                            }
                            .ingresos{
                                padding-top: 0;
                                font-size: 3rem;
                                padding: 3rem;
                            }
                            .productos div:hover{
                                transform: none;
                            }
                            .productos{
                                display: grid;
                                grid-template-columns: repeat(1, 1fr);
                                text-align: center;
                                }
                                p{
                                    font-size: 2rem;
                                }
                            }

                            

    
}
                        